* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#titulo{
    color: dodgerblue;
    text-align: center;
    font-size: 50px;
}

#versus{
    font-size: 50px;
    text-align: center;
    width: 80px;

}

#placar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador, #computador{
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: #fff;
}
#jogador{
    background-color: #2980b9;
}
#computador{
    background-color: #c0392b;
}

#jogador-nome, #computador-nome{
    margin: 0;
    padding: 0;
}
#jogador-nome{
    text-align: left;
}
#computador-nome{
    text-align: right;
}

#jogador-pontos, #computador-pontos{
    position: absolute;
    top:8px;
    font-size: 33px;
}
#jogador-pontos{
    right: 20px;
}


ul#jogador-escolha, ul#computador-escolha{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

ul#jogador-escolha li, ul#computador-escolha li{
    display: inline;

}

ul#jogador-escolha li a, ul#computador-escolha li a{
    opacity: .2;

}
ul#jogador-escolha li a:hover{
    opacity: 1;

}



ul#jogador-escolha li a img, ul#computador-escolha li a img{
    max-width: 90px;

}
#mensagem{
    background-color: #7f8c8d;
    font-size: 32px;
    border-radius: 5px;
    margin: 40px 0;
    padding: 20px;
}